/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #003366, #cc0000);
  color: #333;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header {
  background-color: #000;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  color: #ffcc00;
}

.register-button {
  margin-left: auto;
}

#cart img {
  width: 24px;
  height: 24px;
}

#cuenta-carrito {
  color: #ffcc00;
  font-weight: bold;
  margin-left: 5px;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

#cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

#totales {
  margin-top: 20px;
}

#totales p {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

#totales button {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

#totales button:hover {
  background-color: #ff3333;
}

h3{
  color: white;  
}

img{
  width:200px ;
  height: 300px;
}

.footer {
  background-color: #003366;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

.footer h4, .footer h6 {
  margin-bottom: 10px;
}

.footer i {
  display: block;
  margin-bottom: 5px;
}


.tarjeta-producto{
  color: white;
}